<span class="page-header">Master Traits</span>

<mat-tab-group animationDuration="0ms">
    @for (style of styles; track style) {
    <mat-tab>
        <ng-template mat-tab-label>
            {{ style }}
            <span class="tab-count">({{ getActiveCountForStyle(style) }})</span>
        </ng-template>

        <div class="style-content">
            @for (group of getRanks(style); track group.rank) {
            <div class="rank-block">
                <div class="rank-header">
                    Rank {{ group.rank }}
                    <span class="rank-count">({{ group.activeCount }}/{{ group.traits.length }} activ)</span>
                </div>

                <div class="trait-list">
                    @for (trait of group.traits; track trait.id) {
                    <div class="trait-entry" (click)="toggle(trait.id)">
                        <mat-checkbox [checked]="isActive(trait.id)" (change)="toggle(trait.id, $event.checked)">
                            {{ trait.description }}
                        </mat-checkbox>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </mat-tab>
    }
</mat-tab-group>