:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  color: var(--mat-sys-primary);
  background-color: var(--mat-sys-primary-container);
  gap: 1rem;
  min-height: 4rem;
}

.spacer {
  width: 1.5rem;
}

.content {
  flex: 1;
  padding: 2.5rem 1.5rem;
}

.footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mat-sys-secondary);
  background-color: var(--mat-sys-secondary-container);
  padding: 1rem;
}