<mat-form-field class="weapon-select">
    <mat-label>Weapon</mat-label>
    <mat-select [formControl]="weaponControl">
        @for (w of availableWeapons; track w.id) {
        <mat-option [value]="w.id">{{ w.name }}</mat-option>
        }
    </mat-select>
</mat-form-field>

<div>{{ weapon?.series }}</div>

<div>
    <img width="220" height="220" [src]="weapon?.image">
</div>

<div>
    @for (slot of weaponTraitSlots; track slot) {
    <trait-select [label]="'Trait ' + (slot + 1)" [traitControl]="weaponTraitControls[slot]"></trait-select>
    }
</div>

<div>🛡 Imbued Traits</div>
<div>
    @for (slot of imbuedTraitSlots; track slot) {
    <trait-select [label]="'Imbued Trait ' + (slot + 1)" [traitControl]="imbuedTraitControls[slot]"></trait-select>
    }
</div>